*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --indigo: rgb(141, 133, 241);
    --indigo-100: rgb(214, 211, 255);
    --blue: rgb(113, 155, 218);
    --grey: rgb(99, 99, 99);
    --border-radius: 8px;
    --padding: 8px 12px;
}

body{
    background-color: aliceblue;
    width: 100%;
    font-family: sans-serif;
}

.main-container{
    width: 100%;
    min-height: 100vh;
}

.container{
    width: clamp(300px,100%,800px);
    min-height: 100vh;
    /* border: 1px solid orange; */
    /* background-color: rgb(228, 234, 240); */
    margin: 0 auto;
}

.card{
    margin-top: 2rem;
    width: 400px;
    aspect-ratio: 3/4;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgb(150, 150, 150);
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

span.icon{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--indigo-100);
    display: grid;
    place-items: center;
}

span.icon:hover{
    background-color: var(--indigo);
    border: 2px solid white;
    transform: translateY(-2px);
}

button{
    min-width: 150px;
    font-size: 1.1rem;
    margin: 12px auto;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    color: white;
    box-shadow: 0px 0px 5px 0px lightgray;
    background-image: linear-gradient(45deg,rgb(141, 133, 241),rgb(172, 167, 243),rgb(113, 155, 218));
    transition: all 250ms ease;
}

button:hover{
    transform: translateY(-2px);
}

button:active{
    background-image: linear-gradient(var(--blue),var(--blue));
}

h1{
    width: fit-content;
    margin: 1rem auto;
    color: grey;
    text-align: center;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right,rgb(141, 133, 241),rgb(113, 155, 218)) 1;    
}

section{
    width: 100%;
    min-height: 90vh;
    padding: var(--padding);
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

nav{
    width: clamp(300px,90%,500px);
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--blue);
    background-image: linear-gradient(45deg, var(--indigo),var(--blue));
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 12px -4px var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.liked-dogs,.bookmarked-dogs{
    width: 100%;
    height: 90vh;
    padding: var(--padding);
    background-color: white;
    box-shadow: 0px 0px 8px -5px var(--blue);
    border-radius: var(--border-radius);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-template-rows: min-content;
    column-gap: 8px;
    row-gap: 8px;
}

.liked-dog,.bookmarked-dog{
    width: max(200px,100%);
    aspect-ratio: 3/4;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 8px -3px var(--indigo);
}
